:root {
    --clr-black: #081C15;
    --clr-white: #D8F3DC;
    --clr-lightgreen: #95D5B2;
    --clr-green: #52B788;
    --clr-drkgreen: #2D6A4F;
    --clr-pink: #FF98E4;

}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--clr-drkgreen);
    color: var(--clr-lightgreen);
}

img {
    display: block;
    max-width: 100%;
    user-select: none;
}

strong {
    color: var(--clr-pink);
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 75px;
    padding-bottom: 25px;
    position: relative;
    z-index: 10;
    list-style: none;
}

.header__menu {
    display: flex;
    align-items: center;
    padding-right: 30px;
    gap: 25px;
}

.contact__list,
.header__link {
    font-size: medium;
    font-weight: 600;
    color: var(--clr-lightgreen);
    transition: color 0.3s;
}

.contact__list:hover,
.header__link:hover {
    color: var(--clr-white);
}

.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    gap: 25px;
}

.hero__img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.hero__title {
    color: var(--clr-lightgreen);
    font-size: 72px;
    line-height: 0.9;
    letter-spacing: -0.05em;
}

.hero__subtitle {
    color: var(--clr-green);
    font-size: 32px;
}

.hero__description {
    font-size: 24px;
    padding-left: 48px;
    padding-right: 48px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 132px;
    padding-left: 60px;
    padding-right: 60px;
}

.about__pic {
    object-fit: cover;
    width: 1080px;
    height: 920px;
}

.contact__header,
.projects__header,
.about__title {
    font-size: 40px;
}

.projects__description,
.about__description {
    font-size: 24px;
    max-width: 60ch;
    color: var(--clr-white);
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about__title {
    font-size: 48px;
    color: var(--clr-white);
}

.about__ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
}

.about__ul-container {
    display: flex;

}

.projects__container {
    display: flex;
}

.contact {
    display: flex;
}

.contact__ul {
    display: flex;
    align-items: center;
    padding-left: 108px;
    gap: 32px;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid red;
}

.section {
    margin-top: 5rem;
}

@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    .section {
        margin-top: 10rem;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
    .about {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}
