:root {
    --clr-black: #081C15;
    --clr-white: #D8F3DC;
    --clr-lightgreen: #95D5B2;
    --clr-green: #52B788;
    --clr-drkgreen: #2D6A4F;

}

* {
    margin: 0;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--clr-drkgreen);
    color: var(--clr-lightgreen);
}

img {
    display: block;
    max-width: 100%;
    user-select: none;
}

strong {
    color: var(--clr-white);
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 75px;
    padding-bottom: 25px;
    position: relative;
    z-index: 10;
    list-style: none;
}

.header__menu {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 25px;
}

.header__link {
    font-size: medium;
    font-weight: 600;
    color: var(--clr-lightgreen);
    transition: color 0.3s;
}

.header__link:hover {
    color: var(--clr-white);
}

.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    gap: 25px;
}

.hero__img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.hero__title {
    color: var(--clr-lightgreen);
    font-size: 50px;
    line-height: 0.9;
}

.hero__subtitle {
    color: var(--clr-green);
    font-size: 25px;
}